<h1>The Ethical Arguments You Have Authored:</h1>

<p>Click <a href="/subscribed">here</a> to view the ethical arguments you've subscribed to.</p>

<ul>
<% @user.authored_ethical_arguments.each do |ethical_argument| %>
  <li>
    <a href="/ethical_arguments/<%= ethical_argument.id %>"><%= ethical_argument.title %></a>
  </li>
<% end %>
</ul>
