<h1>The Ethical Arguments You Have Edited, Ranked by Subscribers and Sorted by Topic:</h1>

<p>Click <a href="/ethical_arguments/subscribed">here</a> to view the ethical arguments you've subscribed to.</p>
<p>Click <a href="/ethical_arguments/authored">here</a> to view the ethical arguments you've authored.</p>

<h2>Edited Ethical Arguments:</h2>
<ul>
<% @edited.each do |topic, ethical_arguments| %>
  <li>
    <h3>Topic: <%= topic.capitalize %></h3>
    <ol>
    <% ethical_arguments.each do |ethical_argument| %>
      <li>
        <a href="/ethical_arguments/<%= ethical_argument.id %>"><%= ethical_argument.title %></a>
        <p><%= ethical_argument.summary %>
      </li><br>
    <% end %>
    </ol>
  </li>
  <br>
<% end %>
</ul>