<h2>Here is a Catalog of all Ethical Arguments Sorted by Topic and Ranked by Subscriber Count:</h2>
<ul>
<% @sorted_and_ranked_args.each do |topic, ethical_arguments| %>
  <li>
    <h3>Topic: <%= topic.capitalize %></h3>
    <ol>
    <% ethical_arguments.each do |ethical_argument| %>
      <% if ethical_argument.is_private == nil %>
        <li>
          <a href="/ethical_arguments/<%= ethical_argument.id %>"><%= ethical_argument.title %></a>
          <p><%= ethical_argument.summary %></p>
        </li><br>
      <% end %>
    <% end %>
    </ol>
  </li>
  <br>
<% end %>
</ul>
