<h1>The Ethical Arguments You Subscribe To:</h1>

<p>Click <a href="/authored">here</a> to view the ethical arguments you've authored.</p>

<ul>
<% @sorted_and_ranked_args.each do |topic, ethical_arguments| %>
  <li>
    <h3>Topic: <%= topic.capitalize %></h3>
    <ol>
    <% ethical_arguments.each do |ethical_argument| %>
      <li>
        <a href="/ethical_arguments/<%= ethical_argument.id %>"><%= ethical_argument.title %></a>
        <p><%= ethical_argument.summary %>
      </li><br>
    <% end %>
    </ol>
  </li>
  <br>
<% end %>
</ul>
