<!doctype html>
<html>
  <head>
    <title>EthicsDB</title>
  </head>
  <body>

    <div class="container">
      <h1>
      <% if logged_in? %>
        Hi <%= current_user.username %>!
      <% end %>
      Welcome to EthicsDB!
      </h1>
      <h2>Objectifying Subjectivity Since 2019</h2>
    
      <%= yield %>

      <br>
      <% if logged_in? %>
        <a href="/users/<%= current_user.slug %>/edit">Edit Profile</a>
      <% end %>
    </div>

  </body>
</html>
