<!doctype html>
<html>
  <head>
    <title>EthicsDB</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to EthicsDB!</h1>
      <h2>Objectifying Subjectivity Since 2019</h2>
    
      <%= yield %>

    </div>

  </body>
</html>
